

.App {
  text-align: center;
}

nav {

  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Archivo Black', sans-serif;
  position: fixed;
  top: 0;
 
}
.nohistorytext-container {
  margin-top: 20vh;
  font-size: 10vh;
}
.navlink-container {
  margin-left: 2vw;
  margin-right: 2vw;
  
}

.navlink {
  text-decoration: none;
  font-size: 3vh;
  color: black;
}

.active {
  color: red;
}

ul {
  list-style: none;
  font-family: Lato;
}
li {
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-decoration: none;
}
input {
  margin-top: 9vh;
  margin-bottom: 5vh;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid black;
  height: 5vh;
  width: 40vw;
  font-size: 4vh;
  text-align: center;
}


input:focus {
  outline: none;
}

input.placeholder {
  text-align: center;
}
::placeholder {
  font-size: 4vh;


}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}

.searchhistory-container {
  margin-top: 15vh;
}